#benefits{
    margin: 30px;
}

#gallery{
    margin: 30px;
}

#contact_us{
    margin: 30px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: gray;
    cursor: pointer;
    text-decoration: none;
}

#banner{
    padding: 5%;
}