#start_title_text1{
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 40pt;
    padding-top: 120px;
    color: white;
    padding-left: 30px;
}
#start_title_text2{
    font-size: 10pt;
    color: #696969;
    padding-left: 30px;
}

#logo{
    padding-top: 70px;
    padding-left: 30px;
    width: 100px;
    height: 140px;
}

#index_body{
    background-image: url(img/background.jpg);
    background-size: 105%;
}


#about_building{
    padding-top: 300px;
    width: 500px;
}

#about_title_text{
    padding-top: 400px;
    padding-left: 90px;
    color: white;
    font-size: 25pt;
}

#about_subtitle_text{
    padding-left: 90px;
    color: #7a7373;
    font-size: 9pt;
}

#about_learnmore_button{
    margin-top: 50px;
    margin-left: 90px;
    background-color: #4a4747;
    color: white;
    width: 170px;
    height: 40px;
    border: none;
}

#webcarousel_block{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 50%;
    bottom: -1300px;
    left: 0;
}

#webcarousel_block2{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 50%;
    bottom: -975px;
    left: 0;
}

#about_block{
    position: absolute;
    background-color:  #101010;
    width: 100%;
    height: 105%;
    bottom: -650px;
    left: 0;
}

.card{
    margin-top: 100px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 45px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 45px;
  color: black;
}

.carousel{
    margin-top: 240px;
}

.card{
    margin-left: 25px;
    margin-bottom: 50px;
}

#cards1, #cards2, #cards3{
    margin-left: 60px;
}

.webcarousel_carousel_photo, .card-img-top{
    width: 286px;
    height: 200px;
}

footer{
    background-color: black;
    padding-top: 100px;
}

.footer_form_text1{
    color: white;
    font-size: 20pt;
}

.footer_form_text2{
    color: white;
    font-size: 20pt;
    margin-left: 400px;
}

.input-group{
    width: 300px;
}

#vk{
    margin-left: 770px;
}

#inst{
    margin-left: 10px;
}

#github{
    margin-left: 10px;
    border: 0.5px solid white;
    border-radius: 25%;
}

.link_contact{
    cursor: pointer;
}

