#start_title_text1{
    padding-left: 125px;
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-size: 40pt;
    padding-top: 276px;
}
#start_title_text2{
    padding-left: 125px; 
    font-size: 10pt;
}